PORT=8080
NODE_ENV=development

# 🍃 Base de Datos
MONGO_URL=

# 🔒 Seguridad & Sesiones
JWT_SECRET=
JWT_EXPIRES_IN=

# ✉️ Configuración de Email (Nodemailer)
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=